
.container{
position: absolute;
left:100px;
margin-top: 0px;
overflow: hidden;
}

.footer{
 position:absolute;
 bottom: 0px;
 right: 0px;
 left: 0px;
}

.header{
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.title h3{
  position: absolute;
  top: 80px;
  right: 45%;
}

.form-group{

  position: absolute;
  top: 150px;
  left: 20%;
}

.backButton{
  position: absolute;
  top: 110%;
  left: 0px;
}

.updateButton{
  position: absolute;
  top: 110%;
  left: 40%;
}

.w-50 label{
 
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 20px;
}