.containerdiv{
overflow: hidden;
}

.firstdiv{

    position:relative;
    right: 43%;
    margin-top: 2%;
}

label{
    position: relative;
    right: 35%;
    font-weight: bold;
    font-size: large;
}

.airline{

    position: relative;
    right: 32%;
    font-weight: bold;
    font-size: large;
}

.seconddiv{

    position: absolute;
    left: 18%;
    margin-top: 0px;
}

.thirddiv{
    position: absolute;
    left: 40%;
}

.country{
    position: relative;
    right: 18%;
    font-weight: bold;
    font-size: large;
}

.trip{

 position: relative;
    right: 12%;
    font-weight: bold;
    font-size: large;
}

.rootdiv{
    position: absolute;
    top: 9%;
    left: 0%;
    right: 0%;
    background-color: grey;
    height: 150vh;
    width: 250vh;
    overflow: hidden;
    
}

/* .footer{
    position: absolute;
    top: 500px; 
    width: 100px;
    height: 50px;   
} */

.rootdiv button{

    position: relative;
    right: 200px;
}

.buttonupdate button{

    position: absolute;
    margin-top: -30px;
    right: 500px;
    width: 100px;
}