.container-fluid{
    position:absolute;
    top: 0px;
    left: 25%;
    bottom: 100%;
   margin-top:0px;
    height:100%;
    width: 0%;
}

.container{
    position:absolute;
    top: 0px;
    right: 30%;
    bottom: 50%;
    padding: 30px;
    height: 70%;
    width: 70px;
}

.text_field{
    margin: 10px;
}
.Edp{
    margin-top: 10px
}

.drp{
    float: right;
    margin-top: 0%;
}

h3{
    display: inline;
}