.mainContainer {
   margin:0;
   padding:0;
   height: 100vh;
    background: linear-gradient(120deg, #008000, #008080);
}

.secondaryContainer {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    height:200px;
}

.fields{
    padding: 10px;
}

.btn-primary{
    border-radius: 10px;
}

.fields label{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight:bold;
}